.login-form {
    position:static
}

.view {
    position: relative;
    align-content: center;
    text-align: center;
}

.list {
	height: 100%;
}

.list-item {
    border-style: solid;
    border-width: 2px;
    border-spacing: 5px;
    padding: 10px;
}

.user-item {
    display: flex;
    flex-direction: row;
}

.user-item-name {
    width: 40%;
    text-align: center;
}

.user-item-data {
    text-align: right;
}

.question {
    text-indent: 0.5;
    background-color: yellowgreen;
    color:blue
}

.view-btn {
    width: 80%;
    height: 30px;
    border-color:chartreuse;
}

.wyr {
    /* font-family:Arial, Helvetica, sans-serif; */
    font-style: italic;
    font-size: 20px
}